In [2]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [3]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [17]:
#split dataset in features and target variable
feature_cols = ['company', 'job', 'degree']
X = df[feature_cols] # Features
y = df['salary_more_then_100k'] # Target variable

In [29]:
from sklearn.preprocessing import LabelEncoder
company_1 = LabelEncoder()
job_1 = LabelEncoder()
degree_1 = LabelEncoder()
X['company_n']=company_1.fit_transform(X['company'])
X['job_n']=job_1.fit_transform(X['job'])
X['degree_n']=degree_1.fit_transform(X['degree'])
X = X.drop(['company', 'job', 'degree'], axis=1)

In [30]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [31]:
model.score(X,y)

1.0

In [38]:
model.predict([[2,1,1]])

array([1])