passenger class gender age and fare 

output who survived

In [32]:
import pandas as pd
from sklearn import tree
import numpy as np
from sklearn.preprocessing import LabelEncoder
model = tree.DecisionTreeClassifier()
df = pd.read_csv('titanic.csv')
df1 = df
df1.columns
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [35]:

age_avg = df1['Age'].mean()
age_std = df1['Age'].std()
age_null_count = df1['Age'].isnull().sum()
age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
# Next line has been improved to avoid warning
df1.loc[np.isnan(df1['Age']), 'Age'] = age_null_random_list
df1['Age'] = df1['Age'].astype(int)

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(1), int64(6), object(5)
memory usage: 83.7+ KB

In [39]:
df2 = df1.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis =1 )
df2.head()

   Survived  Pclass     Sex  Age     Fare
0         0       3    male   22   7.2500
1         1       1  female   38  71.2833
2         1       3  female   26   7.9250
3         1       1  female   35  53.1000
4         0       3    male   35   8.0500

In [48]:

inputs = df2.drop(['Survived'],axis=1)
output = df2['Survived']

from sklearn.preprocessing import LabelEncoder
Pclass_1 = LabelEncoder()
Sex_1 = LabelEncoder()
Age_1 = LabelEncoder()
Fare_1 = LabelEncoder()

inputs['Pclass_n']=Pclass_1.fit_transform(inputs['Pclass'])
inputs['Sex_n']=Sex_1.fit_transform(inputs['Sex'])
inputs['Age_n']=Age_1.fit_transform(inputs['Age'])
inputs['Fare_n']=Fare_1.fit_transform(inputs['Fare'])
inputs = inputs.drop(['Pclass','Sex','Age','Fare'], axis =1)

inputs.head()

   Pclass_n  Sex_n  Age_n  Fare_n
0         2      1     22      18
1         0      0     38     207
2         2      0     26      41
3         0      0     35     189
4         2      1     35      43

In [51]:
from sklearn.model_selection import train_test_split # Import train_test_split function

X = inputs 
y = output 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [59]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7388059701492538

In [55]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X,y)

DecisionTreeClassifier()

In [56]:
model.score(X,y)

0.9831649831649831

In [58]:
model.predict([[2,1,1,1]])

array([1])